@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
  background: #0f172a;
  color: white;
}

html.light {
  background: #f1f5f9;
  color: black;
}

body {
  transition: all 0.3s ease;
}